---
layout: default
---
<div class="container" style="padding-top:18px;">
    <h1 class="emajor-title" style="font-family:'Meie Script', cursive;">E.Major Taiwan</h1>
    <h3 class="emajor-title">經濟E大調 </h3>
    <nav class="navbar navbar-light navbar-expand-md" style="padding-bottom:0px;">
        <div class="container-fluid"><a class="navbar-brand" href="{{ site.baseurl }}/aboutus.html" style="font-size:18px;"><img src="{{ site.baseurl }}/assets/img/e-major.png" style="width:41px;height:36px;margin-right:3px;">關於我們 </a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1" style="margin-right:84px;">
                <ul class="nav navbar-nav align-content-center mx-auto align-items-md-center align-items-lg-center align-items-xl-center">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{{ site.baseurl }}/index.html" style="font-size:18px;width:135px;color:rgba(0,0,0,0.5);">最新消息 <i class="fa fa-feed" style="color:rgb(255,71,59);"></i></a></li>
                    <li class="nav-item" role="presentation" style="width:98px;"><a class="nav-link active" href="{{ site.baseurl }}/shortarticles/index.html" style="font-size:18px;width:91px;color:rgba(0,0,0,0.9);">短文 <i class="fa fa-glass" style="color:rgb(255,212,59);"></i> </a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ site.baseurl }}/columns/index.html" style="font-size:18px;width:94px;">專欄 <i class="fa fa-comment-o" style="color:rgb(42,120,23);"></i> </a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ site.baseurl }}/datavisualization/index.html" style="font-size:18px;width:140px;">資料視覺化 <i class="fa fa-bar-chart-o" style="color:rgb(66,23,120);"></i> </a></li>
                </ul>
        </div>
</div>
</nav>
</div>
<div class="container">
    <hr style="padding-right:19px;margin-top:0px;">
</div>

{{ content }}
